In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_crime = pd.read_csv("../capstone-project/dataset/Crime_Data_from_2020_to_Present.csv")

In [3]:
data_crime

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
883983,230618716,12/07/2023 12:00:00 AM,12/01/2023 12:00:00 AM,1000,6,Hollywood,647,2,901,VIOLATION OF RESTRAINING ORDER,...,IC,Invest Cont,901.0,NaN,NaN,NaN,1500 N BRONSON AV,NaN,34.0980,-118.3180
883984,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
883985,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487
883986,230319786,11/10/2023 12:00:00 AM,11/09/2023 12:00:00 AM,2300,3,Southwest,395,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,4100 S HOBART BL,NaN,34.0091,-118.3078

In [4]:
# Pengenalan Data Kolom
nama_columns = data_crime.columns.tolist()
nama_columns

['DR_NO',
 'Date Rptd',
 'DATE OCC',
 'TIME OCC',
 'AREA',
 'AREA NAME',
 'Rpt Dist No',
 'Part 1-2',
 'Crm Cd',
 'Crm Cd Desc',
 'Mocodes',
 'Vict Age',
 'Vict Sex',
 'Vict Descent',
 'Premis Cd',
 'Premis Desc',
 'Weapon Used Cd',
 'Weapon Desc',
 'Status',
 'Status Desc',
 'Crm Cd 1',
 'Crm Cd 2',
 'Crm Cd 3',
 'Crm Cd 4',
 'LOCATION',
 'Cross Street',
 'LAT',
 'LON']

In [5]:
# Info Dataset
data_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883987 entries, 0 to 883986
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           883987 non-null  int64
 1   Date Rptd       883987 non-null  object
 2   DATE OCC        883987 non-null  object
 3   TIME OCC        883987 non-null  int64
 4   AREA            883987 non-null  int64
 5   AREA NAME       883987 non-null  object
 6   Rpt Dist No     883987 non-null  int64
 7   Part 1-2        883987 non-null  int64
 8   Crm Cd          883987 non-null  int64
 9   Crm Cd Desc     883987 non-null  object
 10  Mocodes         760974 non-null  object
 11  Vict Age        883987 non-null  int64
 12  Vict Sex        766927 non-null  object
 13  Vict Descent    766919 non-null  object
 14  Premis Cd       883977 non-null  float64
 15  Premis Desc     883447 non-null  object
 16  Weapon Used Cd  306604 non-null  float64
 17  Weapon Desc     306604 non-null  object
 18  Status          883987 non-null  object
 19  Status Desc     883987 non-null  object
 20  Crm Cd 1        883976 non-null  float64
 21  Crm Cd 2        64497 non-null   float64
 22  Crm Cd 3        2176 non-null    float64
 23  Crm Cd 4        62 non-null      float64
 24  LOCATION        883987 non-null  object
 25  Cross Street    139779 non-null  object
 26  LAT             883987 non-null  float64
 27  LON             883987 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 188.8+ MB

In [6]:
# Mengetahui statistik deskriptif dari data yang diolah
data_crime.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,8.839870e+05,883987.000000,883987.000000,883987.000000,883987.000000,883987.000000,883987.000000,883977.000000,306604.000000,883976.000000,64497.000000,2176.000000,62.000000,883987.000000,883987.000000
mean,2.173618e+08,1336.560971,10.703108,1116.747620,1.411516,500.758133,29.660630,306.299510,363.322520,500.499365,957.820379,983.770221,990.983871,33.986470,-118.051153
std,1.139578e+07,653.232813,6.100755,610.076564,0.492109,207.629796,21.825831,217.174128,123.705678,207.419239,110.885829,52.538656,27.477259,1.725364,5.981531
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-3.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.000000,0.000000,-118.667600
25%,2.103145e+08,900.000000,6.000000,615.000000,1.000000,331.000000,0.000000,101.000000,310.000000,331.000000,998.000000,998.000000,998.000000,34.014300,-118.429700
50%,2.203222e+08,1415.000000,11.000000,1141.000000,1.000000,442.000000,31.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.000000,34.058500,-118.321500
75%,2.302216e+08,1900.000000,16.000000,1615.000000,2.000000,626.000000,45.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.000000,34.163500,-118.273900
max,2.499046e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.000000,34.334300,0.000000

In [7]:
# Tahap Merubah Nama Kolom
nama_kolom_baru = ['LprNo', 'TglLpr', 'TglOcc', 'WktOcc', 'KdArea', 'NmArea',
                   'NoDistLpr', 'JenisLpr', 'KdKej', 'DescKej', 'KdMO',
                   'UsiaKor', 'JenisKelKor', 'KeturunanKor', 'KdTempat', 'DescTempat',
                   'KdSenj', 'DescSenj', 'StatLpr', 'DescStatLpr',
                   'KdKej1', 'KdKej2', 'KdKej3', 'KdKej4', 'LokKej',
                   'JlnSilang', 'KoordLat', 'KoordLon']

data_crime.rename(columns=dict(zip(data_crime.columns, nama_kolom_baru)), inplace=True)

In [8]:
data_crime

,LprNo,TglLpr,TglOcc,WktOcc,KdArea,NmArea,NoDistLpr,JenisLpr,KdKej,DescKej,...,StatLpr,DescStatLpr,KdKej1,KdKej2,KdKej3,KdKej4,LokKej,JlnSilang,KoordLat,KoordLon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
883983,230618716,12/07/2023 12:00:00 AM,12/01/2023 12:00:00 AM,1000,6,Hollywood,647,2,901,VIOLATION OF RESTRAINING ORDER,...,IC,Invest Cont,901.0,NaN,NaN,NaN,1500 N BRONSON AV,NaN,34.0980,-118.3180
883984,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
883985,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487
883986,230319786,11/10/2023 12:00:00 AM,11/09/2023 12:00:00 AM,2300,3,Southwest,395,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,4100 S HOBART BL,NaN,34.0091,-118.3078

# Data Cleaning

In [9]:
# Mencari jumlah nilai NULL pada dataset
data_crime.isnull().sum()

LprNo                0
TglLpr               0
TglOcc               0
WktOcc               0
KdArea               0
NmArea               0
NoDistLpr            0
JenisLpr             0
KdKej                0
DescKej              0
KdMO            123013
UsiaKor              0
JenisKelKor     117060
KeturunanKor    117068
KdTempat            10
DescTempat         540
KdSenj          577383
DescSenj        577383
StatLpr              0
DescStatLpr          0
KdKej1              11
KdKej2          819490
KdKej3          881811
KdKej4          883925
LokKej               0
JlnSilang       744208
KoordLat             0
KoordLon             0
dtype: int64

In [10]:
# Pemilihan data kolom yang dihapus
new_columns = data_crime.columns.tolist()
print(new_columns)

['LprNo', 'TglLpr', 'TglOcc', 'WktOcc', 'KdArea', 'NmArea', 'NoDistLpr', 'JenisLpr', 'KdKej', 'DescKej', 'KdMO', 'UsiaKor', 'JenisKelKor', 'KeturunanKor', 'KdTempat', 'DescTempat', 'KdSenj', 'DescSenj', 'StatLpr', 'DescStatLpr', 'KdKej1', 'KdKej2', 'KdKej3', 'KdKej4', 'LokKej', 'JlnSilang', 'KoordLat', 'KoordLon']

In [11]:
# Menghapus Kolom yang tidak masuk pada analisa
data_crime.drop(['WktOcc', 'NoDistLpr', 'KdMO', 'JlnSilang', 'KoordLon', 'KdKej1', 'KdKej2', 
                 'KdKej3', 'KdKej4', 'KeturunanKor', 'KdTempat', 
                 'DescTempat', 'KdSenj', 'DescSenj', 'KoordLat', 'KoordLon'], axis = 1, inplace = True)

In [12]:
data_crime

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,12/07/2023 12:00:00 AM,12/01/2023 12:00:00 AM,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,11/10/2023 12:00:00 AM,11/09/2023 12:00:00 AM,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

In [13]:
data_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883987 entries, 0 to 883986
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LprNo        883987 non-null  int64
 1   TglLpr       883987 non-null  object
 2   TglOcc       883987 non-null  object
 3   KdArea       883987 non-null  int64
 4   NmArea       883987 non-null  object
 5   JenisLpr     883987 non-null  int64
 6   KdKej        883987 non-null  int64
 7   DescKej      883987 non-null  object
 8   UsiaKor      883987 non-null  int64
 9   JenisKelKor  766927 non-null  object
 10  StatLpr      883987 non-null  object
 11  DescStatLpr  883987 non-null  object
 12  LokKej       883987 non-null  object
dtypes: int64(5), object(8)
memory usage: 87.7+ MB

In [14]:
data_crime.isnull().sum()

LprNo               0
TglLpr              0
TglOcc              0
KdArea              0
NmArea              0
JenisLpr            0
KdKej               0
DescKej             0
UsiaKor             0
JenisKelKor    117060
StatLpr             0
DescStatLpr         0
LokKej              0
dtype: int64

In [15]:
# Mengubah format keluaran kolom TglLpr
data_crime['TglLpr'] = pd.to_datetime(data_crime['TglLpr']).dt.strftime('%Y-%m-%d')

<ipython-input-15-3a8aa2eb4b58>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_crime['TglLpr'] = pd.to_datetime(data_crime['TglLpr']).dt.strftime('%Y-%m-%d')

In [16]:
data_crime

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,2020-03-01,03/01/2020 12:00:00 AM,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
1,200106753,2020-02-09,02/08/2020 12:00:00 AM,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
2,200320258,2020-11-11,11/04/2020 12:00:00 AM,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
3,200907217,2023-05-10,03/10/2020 12:00:00 AM,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,08/17/2020 12:00:00 AM,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,04/12/2023 12:00:00 AM,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,12/01/2023 12:00:00 AM,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,07/01/2023 12:00:00 AM,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,03/05/2023 12:00:00 AM,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,11/09/2023 12:00:00 AM,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

In [17]:
# Mengubah format keluaran kolom TglOcc
data_crime['TglOcc'] = pd.to_datetime(data_crime['TglOcc']).dt.strftime('%Y-%m-%d')

<ipython-input-17-3559c6219faf>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_crime['TglOcc'] = pd.to_datetime(data_crime['TglOcc']).dt.strftime('%Y-%m-%d')

In [18]:
data_crime

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,2020-03-01,2020-03-01,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
1,200106753,2020-02-09,2020-02-08,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
2,200320258,2020-11-11,2020-11-04,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
3,200907217,2023-05-10,2020-03-10,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,2020-08-17,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,2023-04-12,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,2023-12-01,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,2023-07-01,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,2023-03-05,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,2023-11-09,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

## Proses Mengambil Value Kolom UsiaKor & JenisKelKor

- Mengambil Data pada kolom UsiaKor sama dengan 0 dan juga kurang dari 0 (Nilai Minus)
- Mengambil Data pada kolom JenisKelKor dengan values [X, H, NaN]

### UsiaKor

In [19]:
# Menghitung kemunculan data pada kolom UsiaKor
usia_kor_counts = data_crime['UsiaKor'].value_counts(dropna = False)
usia_kor_counts

UsiaKor
 0      221363
 30      20061
 35      19708
 31      19208
 29      19164
         ...
-1          67
 97         65
-2          14
-3           2
 120         1
Name: count, Length: 103, dtype: int64

In [20]:
# Melakukan pengecekan pada kolom UsiaKor apakah ada data kosong
data_usia_null = data_crime[data_crime['UsiaKor'].isnull()]

# Menampilkan hasil
if data_usia_null.empty:
    print("Tidak ada data yang kosong pada kolom UsiaKor")
else:
    print("Data kosong pada kolom UsiaKor:")
    print(data_usia_null)

Tidak ada data yang kosong pada kolom UsiaKor

In [21]:
# Pengecekan kolom UsiaKor
usia_kor_counts = data_crime['UsiaKor'].value_counts()

# Menampilkan jumlah kemunculan angka 0 dan angka negatif
count_zero = usia_kor_counts.get(0, 0)
count_minus = usia_kor_counts.loc[usia_kor_counts.index < 0].sum()

# Menampilkan hasil rule
print("Jumlah Angka 0 pada kolom UsiaKor:", count_zero)
print("Jumlah Angka Negatif pada kolom UsiaKor:", count_minus)

Jumlah Angka 0 pada kolom UsiaKor: 221363
Jumlah Angka Negatif pada kolom UsiaKor: 83

### JenisKelKor

In [23]:
# Menampilkan jumlah nilai Unik pada kolom JenisKelKor
jumlah_jenis_kelKor = data_crime['JenisKelKor'].nunique()

# Tampilkan hasil
print("Jumlah Nilai Unik pada kolom JenisKelKor:", jumlah_jenis_kelKor)

Jumlah Nilai Unik pada kolom JenisKelKor: 5

In [24]:
# Mengambil Nilai Unik pada kolom JenisKelKor
daftar_unik_kelKor = data_crime['JenisKelKor'].unique()

# Tampilkan hasil dalam bentuk array
daftar_unik_kelKor

array(['M', 'X', 'F', nan, 'H', '-'], dtype=object)

In [32]:
# Memfilter data berdasarkan kondisi yang diberikan
filtered_data = data_crime[(data_crime['UsiaKor'] == 0) | (data_crime['UsiaKor'] < 0) & (data_crime['JenisKelKor'].isin(['X', 'H', '-']))]

# Menampilkan hasil
unknown_data = filtered_data
unknown_data

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,2020-03-01,2020-03-01,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
14,221008844,2022-05-06,2020-11-01,10,West Valley,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,VALJEAN ST
26,200412582,2020-09-09,2020-09-09,4,Hollenbeck,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,200 E AVENUE 28
29,222106031,2022-02-23,2020-08-14,21,Topanga,2,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0,NaN,IC,Invest Cont,7700 SAUSALITO AV
35,221404806,2022-01-19,2020-01-18,14,Pacific,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,IC,Invest Cont,WASHINGTON PL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883957,230406516,2023-03-19,2023-03-19,4,Hollenbeck,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,3200 GARNET ST
883960,230609209,2023-05-01,2023-04-29,6,Hollywood,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,1800 WINONA BL
883964,231321710,2023-12-07,2023-12-07,13,Newton,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,1500 MATEO ST
883967,231405429,2023-02-05,2023-02-05,14,Pacific,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0,X,IC,Invest Cont,4300 LINCOLN BL
883978,240904007,2023-12-31,2023-12-31,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,AO,Adult Other,15300 WEDDINGTON ST

In [42]:
# Pembagian jenis kolom
numerik = ['LprNo', 'KdArea', 'JenisLpr', 'KdKej', 'UsiaKor']
kategorik = ['TglLpr', 'TglOcc', 'NmArea', 'DescKej', 
             'JenisKelKor', 'StatLpr', 'DescStatLpr', 'LokKej']

In [43]:
unknown_data[numerik].describe()

,LprNo,KdArea,JenisLpr,KdKej,UsiaKor
count,2.214200e+05,221420.000000,221420.000000,221420.000000,221420.000000
mean,2.178200e+08,10.743189,1.193736,504.642354,-0.000298
std,1.163406e+07,5.905127,0.395225,156.172549,0.019706
min,8.170000e+02,1.000000,1.000000,110.000000,-3.000000
25%,2.104094e+08,6.000000,1.000000,420.000000,0.000000
50%,2.205156e+08,11.000000,1.000000,510.000000,0.000000
75%,2.304156e+08,15.000000,1.000000,510.000000,0.000000
max,2.499046e+08,21.000000,2.000000,956.000000,0.000000

In [44]:
unknown_data[kategorik].describe()

,TglLpr,TglOcc,NmArea,DescKej,JenisKelKor,StatLpr,DescStatLpr,LokKej
count,221420,221420,221420,221420,104392,221420,221420,221420
unique,1486,1483,21,134,5,5,5,40537
top,2024-01-22,2020-05-30,Pacific,VEHICLE - STOLEN,X,IC,Invest Cont,11800 SANTA MONICA BL
freq,283,387,14429,94635,71428,195941,195941,961

In [36]:
count_usia = unknown_data['UsiaKor'].value_counts()
count_usia

UsiaKor
 0    221363
-1        49
-2         7
-3         1
Name: count, dtype: int64

In [38]:
count_jk = unknown_data['JenisKelKor'].value_counts()
count_jk

JenisKelKor
X    71428
M    29356
F     3605
H        2
-        1
Name: count, dtype: int64

In [39]:
unknown_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221420 entries, 0 to 883978
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LprNo        221420 non-null  int64
 1   TglLpr       221420 non-null  object
 2   TglOcc       221420 non-null  object
 3   KdArea       221420 non-null  int64
 4   NmArea       221420 non-null  object
 5   JenisLpr     221420 non-null  int64
 6   KdKej        221420 non-null  int64
 7   DescKej      221420 non-null  object
 8   UsiaKor      221420 non-null  int64
 9   JenisKelKor  104392 non-null  object
 10  StatLpr      221420 non-null  object
 11  DescStatLpr  221420 non-null  object
 12  LokKej       221420 non-null  object
dtypes: int64(5), object(8)
memory usage: 23.7+ MB

In [41]:
check_null = unknown_data[unknown_data['JenisKelKor'].isnull()]

if check_null.empty:
    print("Tidak ada data kosong")
else:
    print("Data kosong pada kolom check_null:")
    print(check_null)

Data kosong pada kolom check_null:
            LprNo      TglLpr      TglOcc  KdArea       NmArea  JenisLpr  \
14      221008844  2022-05-06  2020-11-01      10  West Valley         1
26      200412582  2020-09-09  2020-09-09       4   Hollenbeck         1
29      222106031  2022-02-23  2020-08-14      21      Topanga         2
35      221404806  2022-01-19  2020-01-18      14      Pacific         1
36      220215983  2022-09-06  2020-05-26       2      Rampart         1
...           ...         ...         ...     ...          ...       ...
883930  230713941  2023-08-30  2023-08-30       7     Wilshire         1
883946  231309462  2023-04-20  2023-04-20      13       Newton         1
883957  230406516  2023-03-19  2023-03-19       4   Hollenbeck         1
883960  230609209  2023-05-01  2023-04-29       6    Hollywood         1
883964  231321710  2023-12-07  2023-12-07      13       Newton         1

        KdKej                                          DescKej  UsiaKor  \
14        510                                 VEHICLE - STOLEN        0
26        510                                 VEHICLE - STOLEN        0
29        668       EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)        0
35        420  THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)        0
36        420  THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)        0
...       ...                                              ...      ...
883930    510                                 VEHICLE - STOLEN        0
883946    510                                 VEHICLE - STOLEN        0
883957    510                                 VEHICLE - STOLEN        0
883960    510                                 VEHICLE - STOLEN        0
883964    510                                 VEHICLE - STOLEN        0

       JenisKelKor StatLpr  DescStatLpr  \
14             NaN      IC  Invest Cont
26             NaN      IC  Invest Cont
29             NaN      IC  Invest Cont
35             NaN      IC  Invest Cont
36             NaN      IC  Invest Cont
...            ...     ...          ...
883930         NaN      IC  Invest Cont
883946         NaN      IC  Invest Cont
883957         NaN      IC  Invest Cont
883960         NaN      IC  Invest Cont
883964         NaN      IC  Invest Cont

                                         LokKej
14              VALJEAN                      ST
26                             200 E  AVENUE 28
29      7700    SAUSALITO                    AV
35              WASHINGTON                   PL
36       200 S  CORONADO                     ST
...                                         ...
883930  1000 S  RIDGELEY                     DR
883946   900 E  JEFFERSON                    BL
883957  3200    GARNET                       ST
883960  1800    WINONA                       BL
883964  1500    MATEO                        ST

[117028 rows x 13 columns]

In [45]:
# Mengisi missing values pada kolom JenisKelKor dengan mode
mode_jenis_kelamin = unknown_data['JenisKelKor'].mode()[0]
unknown_data['JenisKelKor'].fillna(mode_jenis_kelamin, inplace=True)

<ipython-input-45-263e85ffa32d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unknown_data['JenisKelKor'].fillna(mode_jenis_kelamin, inplace=True)

In [46]:
unknown_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221420 entries, 0 to 883978
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LprNo        221420 non-null  int64
 1   TglLpr       221420 non-null  object
 2   TglOcc       221420 non-null  object
 3   KdArea       221420 non-null  int64
 4   NmArea       221420 non-null  object
 5   JenisLpr     221420 non-null  int64
 6   KdKej        221420 non-null  int64
 7   DescKej      221420 non-null  object
 8   UsiaKor      221420 non-null  int64
 9   JenisKelKor  221420 non-null  object
 10  StatLpr      221420 non-null  object
 11  DescStatLpr  221420 non-null  object
 12  LokKej       221420 non-null  object
dtypes: int64(5), object(8)
memory usage: 23.7+ MB

In [47]:
count_jenisK = unknown_data['JenisKelKor'].value_counts()

In [48]:
count_jenisK

JenisKelKor
X    188456
M     29356
F      3605
H         2
-         1
Name: count, dtype: int64

In [49]:
# # Mengganti nilai 'H' dan '-' menjadi 'X' pada kolom JenisKelKor
# unknown_data['JenisKelKor'].replace({'H': 'X', '-': 'X'}, inplace=True)
# unknown_data

<ipython-input-49-a9530f3146e5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unknown_data['JenisKelKor'].replace({'H': 'X', '-': 'X'}, inplace=True)

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,2020-03-01,2020-03-01,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
14,221008844,2022-05-06,2020-11-01,10,West Valley,1,510,VEHICLE - STOLEN,0,X,IC,Invest Cont,VALJEAN ST
26,200412582,2020-09-09,2020-09-09,4,Hollenbeck,1,510,VEHICLE - STOLEN,0,X,IC,Invest Cont,200 E AVENUE 28
29,222106031,2022-02-23,2020-08-14,21,Topanga,2,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0,X,IC,Invest Cont,7700 SAUSALITO AV
35,221404806,2022-01-19,2020-01-18,14,Pacific,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,X,IC,Invest Cont,WASHINGTON PL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883957,230406516,2023-03-19,2023-03-19,4,Hollenbeck,1,510,VEHICLE - STOLEN,0,X,IC,Invest Cont,3200 GARNET ST
883960,230609209,2023-05-01,2023-04-29,6,Hollywood,1,510,VEHICLE - STOLEN,0,X,IC,Invest Cont,1800 WINONA BL
883964,231321710,2023-12-07,2023-12-07,13,Newton,1,510,VEHICLE - STOLEN,0,X,IC,Invest Cont,1500 MATEO ST
883967,231405429,2023-02-05,2023-02-05,14,Pacific,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0,X,IC,Invest Cont,4300 LINCOLN BL
883978,240904007,2023-12-31,2023-12-31,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,AO,Adult Other,15300 WEDDINGTON ST