In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_crime = pd.read_csv("../capstone-project/dataset/Crime_Data_from_2020_to_Present.csv")

In [3]:
data_crime

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
883983,230618716,12/07/2023 12:00:00 AM,12/01/2023 12:00:00 AM,1000,6,Hollywood,647,2,901,VIOLATION OF RESTRAINING ORDER,...,IC,Invest Cont,901.0,NaN,NaN,NaN,1500 N BRONSON AV,NaN,34.0980,-118.3180
883984,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
883985,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487
883986,230319786,11/10/2023 12:00:00 AM,11/09/2023 12:00:00 AM,2300,3,Southwest,395,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,4100 S HOBART BL,NaN,34.0091,-118.3078

In [4]:
# Pengenalan Data Kolom
nama_columns = data_crime.columns.tolist()
nama_columns

['DR_NO',
 'Date Rptd',
 'DATE OCC',
 'TIME OCC',
 'AREA',
 'AREA NAME',
 'Rpt Dist No',
 'Part 1-2',
 'Crm Cd',
 'Crm Cd Desc',
 'Mocodes',
 'Vict Age',
 'Vict Sex',
 'Vict Descent',
 'Premis Cd',
 'Premis Desc',
 'Weapon Used Cd',
 'Weapon Desc',
 'Status',
 'Status Desc',
 'Crm Cd 1',
 'Crm Cd 2',
 'Crm Cd 3',
 'Crm Cd 4',
 'LOCATION',
 'Cross Street',
 'LAT',
 'LON']

In [5]:
# Info Dataset
data_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883987 entries, 0 to 883986
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           883987 non-null  int64
 1   Date Rptd       883987 non-null  object
 2   DATE OCC        883987 non-null  object
 3   TIME OCC        883987 non-null  int64
 4   AREA            883987 non-null  int64
 5   AREA NAME       883987 non-null  object
 6   Rpt Dist No     883987 non-null  int64
 7   Part 1-2        883987 non-null  int64
 8   Crm Cd          883987 non-null  int64
 9   Crm Cd Desc     883987 non-null  object
 10  Mocodes         760974 non-null  object
 11  Vict Age        883987 non-null  int64
 12  Vict Sex        766927 non-null  object
 13  Vict Descent    766919 non-null  object
 14  Premis Cd       883977 non-null  float64
 15  Premis Desc     883447 non-null  object
 16  Weapon Used Cd  306604 non-null  float64
 17  Weapon Desc     306604 non-null  object
 18  Status          883987 non-null  object
 19  Status Desc     883987 non-null  object
 20  Crm Cd 1        883976 non-null  float64
 21  Crm Cd 2        64497 non-null   float64
 22  Crm Cd 3        2176 non-null    float64
 23  Crm Cd 4        62 non-null      float64
 24  LOCATION        883987 non-null  object
 25  Cross Street    139779 non-null  object
 26  LAT             883987 non-null  float64
 27  LON             883987 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 188.8+ MB

In [6]:
# Mengetahui statistik deskriptif dari data yang diolah
data_crime.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,8.839870e+05,883987.000000,883987.000000,883987.000000,883987.000000,883987.000000,883987.000000,883977.000000,306604.000000,883976.000000,64497.000000,2176.000000,62.000000,883987.000000,883987.000000
mean,2.173618e+08,1336.560971,10.703108,1116.747620,1.411516,500.758133,29.660630,306.299510,363.322520,500.499365,957.820379,983.770221,990.983871,33.986470,-118.051153
std,1.139578e+07,653.232813,6.100755,610.076564,0.492109,207.629796,21.825831,217.174128,123.705678,207.419239,110.885829,52.538656,27.477259,1.725364,5.981531
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-3.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.000000,0.000000,-118.667600
25%,2.103145e+08,900.000000,6.000000,615.000000,1.000000,331.000000,0.000000,101.000000,310.000000,331.000000,998.000000,998.000000,998.000000,34.014300,-118.429700
50%,2.203222e+08,1415.000000,11.000000,1141.000000,1.000000,442.000000,31.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.000000,34.058500,-118.321500
75%,2.302216e+08,1900.000000,16.000000,1615.000000,2.000000,626.000000,45.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.000000,34.163500,-118.273900
max,2.499046e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.000000,34.334300,0.000000

In [7]:
# Tahap Merubah Nama Kolom
nama_kolom_baru = ['LprNo', 'TglLpr', 'TglOcc', 'WktOcc', 'KdArea', 'NmArea',
                   'NoDistLpr', 'JenisLpr', 'KdKej', 'DescKej', 'KdMO',
                   'UsiaKor', 'JenisKelKor', 'KeturunanKor', 'KdTempat', 'DescTempat',
                   'KdSenj', 'DescSenj', 'StatLpr', 'DescStatLpr',
                   'KdKej1', 'KdKej2', 'KdKej3', 'KdKej4', 'LokKej',
                   'JlnSilang', 'KoordLat', 'KoordLon']

data_crime.rename(columns=dict(zip(data_crime.columns, nama_kolom_baru)), inplace=True)

In [8]:
data_crime

,LprNo,TglLpr,TglOcc,WktOcc,KdArea,NmArea,NoDistLpr,JenisLpr,KdKej,DescKej,...,StatLpr,DescStatLpr,KdKej1,KdKej2,KdKej3,KdKej4,LokKej,JlnSilang,KoordLat,KoordLon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
883983,230618716,12/07/2023 12:00:00 AM,12/01/2023 12:00:00 AM,1000,6,Hollywood,647,2,901,VIOLATION OF RESTRAINING ORDER,...,IC,Invest Cont,901.0,NaN,NaN,NaN,1500 N BRONSON AV,NaN,34.0980,-118.3180
883984,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
883985,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487
883986,230319786,11/10/2023 12:00:00 AM,11/09/2023 12:00:00 AM,2300,3,Southwest,395,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,4100 S HOBART BL,NaN,34.0091,-118.3078

# Data Cleaning

In [9]:
# Mencari jumlah nilai NULL pada dataset
data_crime.isnull().sum()

LprNo                0
TglLpr               0
TglOcc               0
WktOcc               0
KdArea               0
NmArea               0
NoDistLpr            0
JenisLpr             0
KdKej                0
DescKej              0
KdMO            123013
UsiaKor              0
JenisKelKor     117060
KeturunanKor    117068
KdTempat            10
DescTempat         540
KdSenj          577383
DescSenj        577383
StatLpr              0
DescStatLpr          0
KdKej1              11
KdKej2          819490
KdKej3          881811
KdKej4          883925
LokKej               0
JlnSilang       744208
KoordLat             0
KoordLon             0
dtype: int64

In [10]:
# Pemilihan data kolom yang dihapus
new_columns = data_crime.columns.tolist()
print(new_columns)

['LprNo', 'TglLpr', 'TglOcc', 'WktOcc', 'KdArea', 'NmArea', 'NoDistLpr', 'JenisLpr', 'KdKej', 'DescKej', 'KdMO', 'UsiaKor', 'JenisKelKor', 'KeturunanKor', 'KdTempat', 'DescTempat', 'KdSenj', 'DescSenj', 'StatLpr', 'DescStatLpr', 'KdKej1', 'KdKej2', 'KdKej3', 'KdKej4', 'LokKej', 'JlnSilang', 'KoordLat', 'KoordLon']

In [11]:
# Menghapus Kolom yang tidak masuk pada analisa
data_crime.drop(['WktOcc', 'NoDistLpr', 'KdMO', 'JlnSilang', 'KoordLon', 'KdKej1', 'KdKej2', 
                 'KdKej3', 'KdKej4', 'KeturunanKor', 'KdTempat', 
                 'DescTempat', 'KdSenj', 'DescSenj', 'KoordLat', 'KoordLon'], axis = 1, inplace = True)

In [12]:
data_crime

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,12/07/2023 12:00:00 AM,12/01/2023 12:00:00 AM,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,11/10/2023 12:00:00 AM,11/09/2023 12:00:00 AM,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

In [13]:
data_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883987 entries, 0 to 883986
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LprNo        883987 non-null  int64
 1   TglLpr       883987 non-null  object
 2   TglOcc       883987 non-null  object
 3   KdArea       883987 non-null  int64
 4   NmArea       883987 non-null  object
 5   JenisLpr     883987 non-null  int64
 6   KdKej        883987 non-null  int64
 7   DescKej      883987 non-null  object
 8   UsiaKor      883987 non-null  int64
 9   JenisKelKor  766927 non-null  object
 10  StatLpr      883987 non-null  object
 11  DescStatLpr  883987 non-null  object
 12  LokKej       883987 non-null  object
dtypes: int64(5), object(8)
memory usage: 87.7+ MB

In [14]:
data_crime.isnull().sum()

LprNo               0
TglLpr              0
TglOcc              0
KdArea              0
NmArea              0
JenisLpr            0
KdKej               0
DescKej             0
UsiaKor             0
JenisKelKor    117060
StatLpr             0
DescStatLpr         0
LokKej              0
dtype: int64

## Proses Cek Rows Data

### LprNo

In [15]:
# Melakukan pengecekan pada kolom LprNo tidak 
# ada angka minus dan tidak ada rows yang kosong

# Pengecekan kolom LprNo
is_valid_lprno = data_crime['LprNo'].notnull() & (data_crime['LprNo'] >= 0)

# Menampilkan baris yang tidak memenuhi kondisi
invalid_lprno_rows = data_crime[~is_valid_lprno]

# Menampilkan hasil penngecekan
print("Baris dengan LprNo tidak terisi atau memiliki angka minus:")
print(invalid_lprno_rows)

Baris dengan LprNo tidak terisi atau memiliki angka minus:
Empty DataFrame
Columns: [LprNo, TglLpr, TglOcc, KdArea, NmArea, JenisLpr, KdKej, DescKej, UsiaKor, JenisKelKor, StatLpr, DescStatLpr, LokKej]
Index: []

### TglLpr

In [16]:
# Mengubah format keluaran kolom TglLpr
data_crime['TglLpr'] = pd.to_datetime(data_crime['TglLpr']).dt.strftime('%Y-%m-%d')

<ipython-input-16-3a8aa2eb4b58>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_crime['TglLpr'] = pd.to_datetime(data_crime['TglLpr']).dt.strftime('%Y-%m-%d')

In [17]:
data_crime

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,2020-03-01,03/01/2020 12:00:00 AM,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
1,200106753,2020-02-09,02/08/2020 12:00:00 AM,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
2,200320258,2020-11-11,11/04/2020 12:00:00 AM,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
3,200907217,2023-05-10,03/10/2020 12:00:00 AM,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,08/17/2020 12:00:00 AM,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,04/12/2023 12:00:00 AM,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,12/01/2023 12:00:00 AM,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,07/01/2023 12:00:00 AM,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,03/05/2023 12:00:00 AM,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,11/09/2023 12:00:00 AM,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

### TglOcc

In [18]:
# Mengubah format keluaran kolom TglOcc
data_crime['TglOcc'] = pd.to_datetime(data_crime['TglOcc']).dt.strftime('%Y-%m-%d')

<ipython-input-18-3559c6219faf>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_crime['TglOcc'] = pd.to_datetime(data_crime['TglOcc']).dt.strftime('%Y-%m-%d')

In [19]:
data_crime

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,2020-03-01,2020-03-01,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
1,200106753,2020-02-09,2020-02-08,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
2,200320258,2020-11-11,2020-11-04,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
3,200907217,2023-05-10,2020-03-10,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,2020-08-17,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,2023-04-12,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,2023-12-01,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,2023-07-01,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,2023-03-05,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,2023-11-09,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

### KdArea

In [20]:
# Melakukan pengecekan pada kolom KdArea
# Apakah terdapat value 0 ataupun minus

invalid_kdarea_rows = data_crime[(data_crime['KdArea'] <= 0)]

# Menampilkan rows yang tidak memenuhi kondisi
print("Baris dengan KdArea berisi angka minus atau 0:")
print(invalid_kdarea_rows)

Baris dengan KdArea berisi angka minus atau 0:
Empty DataFrame
Columns: [LprNo, TglLpr, TglOcc, KdArea, NmArea, JenisLpr, KdKej, DescKej, UsiaKor, JenisKelKor, StatLpr, DescStatLpr, LokKej]
Index: []

In [21]:
# Mengetahui nilai unique pada kolom KdArea
unique_kdarea_values = data_crime['KdArea'].unique()

# Mengurutkan unique values dari yang terkecil
unique_kdarea_values.sort()

In [22]:
unique_kdarea_values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21], dtype=int64)

### NmArea

In [23]:
# Menghitung jumlah Nama Area Unik
jml_nama_area_unik = data_crime['NmArea'].nunique()

# Manmpilkan jumlah hasil Nama Area Unik
print("Jumlah Nama Area Kejahatan Unik:", jml_nama_area_unik)

Jumlah Nama Area Kejahatan Unik: 21

In [24]:
# Mencari Nilai Unique untuk kolom NmArea
unique_values_nmarea = data_crime['NmArea'].unique()
unique_values_nmarea

array(['Wilshire', 'Central', 'Southwest', 'Van Nuys', 'Hollywood',
       'Southeast', 'Newton', 'Mission', 'Rampart', 'Hollenbeck',
       'West Valley', 'West LA', 'Olympic', 'Topanga', 'Northeast',
       '77th Street', 'Pacific', 'N Hollywood', 'Harbor', 'Foothill',
       'Devonshire'], dtype=object)

In [25]:
# Melakukan pengecekan apakah kolom "NmArea" memiliki
# data yang kosong (NULL, NaN, atau 0) 

# Pengecekan kolom NmArea
is_valid_nmarea = data_crime['NmArea'].notnull()

# Menampilkan baris yang tidak memenuhi kondisi
invalid_nmarea_rows = data_crime[~is_valid_nmarea]

# Menampilkan hasil pengecekan
print("Baris dengan NmArea Kosong:")
print(invalid_nmarea_rows)

Baris dengan NmArea Kosong:
Empty DataFrame
Columns: [LprNo, TglLpr, TglOcc, KdArea, NmArea, JenisLpr, KdKej, DescKej, UsiaKor, JenisKelKor, StatLpr, DescStatLpr, LokKej]
Index: []

### JenisLpr

In [26]:
# Melakukan pengecekan apakah kolom JenisLpr
# memiliki nilai 0 ataupun Minus

# Pengecekan kolom JenisLpr
is_valid_jenislpr = (data_crime['JenisLpr'] > 0)

# Menampilkan baris yang tidak memenuhi kondisi
invalid_jenislpr_rows = data_crime[~is_valid_jenislpr]

# Menampilkan hasil pengecekan
print("Baris dengan JenisLpr bernilai 0 atau Minus:")
print(invalid_jenislpr_rows)

Baris dengan JenisLpr bernilai 0 atau Minus:
Empty DataFrame
Columns: [LprNo, TglLpr, TglOcc, KdArea, NmArea, JenisLpr, KdKej, DescKej, UsiaKor, JenisKelKor, StatLpr, DescStatLpr, LokKej]
Index: []

In [27]:
# Mencari Nilai Unique kolom JenisLpr
unique_values_jenislpr = data_crime['JenisLpr'].unique()
unique_values_jenislpr

array([1, 2], dtype=int64)

In [28]:
# Menghitung jumlah kemunculan nilai 1 & 2
# pada kolom JenisLpr
count_jenislpr_values = data_crime['JenisLpr'].value_counts()

# Menampilkan Hasil
print("Jumlah nilai 1 pada kolom JenisLpr:", count_jenislpr_values.get(1, 0))
print("Jumlah nilai 2 pada kolom JenisLpr:", count_jenislpr_values.get(2, 0))

Jumlah nilai 1 pada kolom JenisLpr: 520212
Jumlah nilai 2 pada kolom JenisLpr: 363775

### KdKej

In [29]:
# Menghitung jumlah nilai unik pada kolom KdKej
jml_kode_kejahatan_unik = data_crime['KdKej'].nunique()

# Tampilkan Hasil
print("Jumlah Kode Kejahatan Unik:", jml_kode_kejahatan_unik)

Jumlah Kode Kejahatan Unik: 138

In [30]:
# Menampilkan daftar nilai unik
unique_values_kdkej = data_crime['KdKej'].unique()
unique_values_kdkej

array([510, 330, 480, 343, 354, 624, 821, 812, 810, 230, 956, 341, 121,
       930, 668, 420, 813, 310, 903, 440, 626, 762, 441, 331, 946, 210,
       662, 815, 860, 236, 820, 661, 901, 442, 740, 761, 649, 845, 745,
       627, 653, 928, 940, 625, 352, 886, 666, 921, 932, 900, 439, 954,
       434, 235, 220, 654, 922, 760, 670, 237, 763, 345, 888, 320, 122,
       753, 822, 520, 806, 906, 437, 410, 648, 350, 623, 522, 850, 450,
       890, 755, 231, 805, 664, 251, 951, 920, 250, 470, 902, 647, 651,
       910, 110, 351, 421, 444, 814, 756, 433, 931, 435, 438, 443, 660,
       950, 622, 943, 487, 949, 933, 865, 474, 652, 113, 446, 475, 471,
       451, 436, 485, 349, 944, 942, 347, 353, 870, 473, 880, 452, 924,
       840, 948, 884, 904, 830, 432, 882, 445], dtype=int64)

In [31]:
# Melakukan pengecekan apakah terdapal nulai NULL / nilai 0
invalid_kdkej_rows = data_crime[data_crime['KdKej'].isnull() | (data_crime['KdKej'] == 0)]

# Menampilkank hasil pengecekan
print("Baris dengan nilai 0 atau kosong pada kolom KdKej:")
print(invalid_kdkej_rows)

Baris dengan nilai 0 atau kosong pada kolom KdKej:
Empty DataFrame
Columns: [LprNo, TglLpr, TglOcc, KdArea, NmArea, JenisLpr, KdKej, DescKej, UsiaKor, JenisKelKor, StatLpr, DescStatLpr, LokKej]
Index: []

### DescKej

In [32]:
# Menghitung jumlah deskripsi kejahatan unik
jumlah_deskripsi_kejahatan = data_crime['DescKej'].nunique()

# Menampilkan hasil jumlah
print("Jumlah deskripsi kejahatan yang tercatat:", jumlah_deskripsi_kejahatan)

Jumlah deskripsi kejahatan yang tercatat: 138

In [33]:
# Menampilkan daftar Nama Area Unik
deskripsi_kejahatan_unik = data_crime['DescKej'].unique()
deskripsi_kejahatan_unik

array(['VEHICLE - STOLEN', 'BURGLARY FROM VEHICLE', 'BIKE - STOLEN',
       'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 'THEFT OF IDENTITY',
       'BATTERY - SIMPLE ASSAULT',
       'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
       'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
       'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
       'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
       'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
       'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
       'RAPE, FORCIBLE', 'CRIMINAL THREATS - NO WEAPON DISPLAYED',
       'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
       'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
       'CHILD ANNOYING (17YRS & UNDER)', 'BURGLARY', 'CONTEMPT OF COURT',
       'THEFT PLAIN - PETTY ($950 & UNDER)',
       'INTIMATE PARTNER - SIMPLE ASSAULT', 'LEWD CONDUCT',
       'THEFT PLAIN - ATTEMPT',
       'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
       'OTHER MISCELLANEOUS CRIME', 'ROBBERY', 'BUNCO, GRAND THEFT',
       'SEXUAL PENETRATION W/FOREIGN OBJECT',
       'BATTERY WITH SEXUAL CONTACT',
       'INTIMATE PARTNER - AGGRAVATED ASSAULT', 'ORAL COPULATION',
       'UNAUTHORIZED COMPUTER ACCESS', 'VIOLATION OF RESTRAINING ORDER',
       'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
       'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
       'BRANDISH WEAPON', 'DOCUMENT FORGERY / STOLEN FELONY',
       'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
       'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
       'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
       'THREATENING PHONE CALLS/LETTERS', 'EXTORTION', 'OTHER ASSAULT',
       'PICKPOCKET', 'DISTURBING THE PEACE', 'BUNCO, ATTEMPT',
       'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE', 'PEEPING TOM',
       'VIOLATION OF COURT ORDER', 'FALSE POLICE REPORT', 'CONTRIBUTING',
       'FALSE IMPRISONMENT',
       'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT', 'ATTEMPTED ROBBERY',
       'CREDIT CARDS, FRAUD USE ($950 & UNDER', 'CHILD STEALING',
       'LEWD/LASCIVIOUS ACTS WITH CHILD',
       'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
       'CHILD NEGLECT (SEE 300 W.I.C.)', 'STALKING',
       'DISHONEST EMPLOYEE - GRAND THEFT', 'TRESPASSING',
       'BURGLARY, ATTEMPTED', 'RAPE, ATTEMPTED',
       'DISCHARGE FIREARMS/SHOTS FIRED',
       'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
       'VEHICLE - ATTEMPT STOLEN', 'PANDERING',
       'FIREARMS RESTRAINING ORDER (FIREARMS RO)', 'RESISTING ARREST',
       'BURGLARY FROM VEHICLE, ATTEMPTED', 'ARSON', 'THEFT, PERSON',
       'BATTERY POLICE (SIMPLE)',
       'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
       'INDECENT EXPOSURE', 'THEFT FROM PERSON - ATTEMPT',
       'FAILURE TO YIELD', 'BOMB SCARE',
       'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER', 'PIMPING',
       'BUNCO, PETTY THEFT', 'SHOTS FIRED AT INHABITED DWELLING',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
       'KIDNAPPING - GRAND ATTEMPT',
       'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
       'TILL TAP - GRAND THEFT ($950.01 & OVER)',
       'VIOLATION OF TEMPORARY RESTRAINING ORDER',
       'THROWING OBJECT AT MOVING VEHICLE',
       'DOCUMENT WORTHLESS ($200.01 & OVER)', 'KIDNAPPING',
       'CRIMINAL HOMICIDE', 'PURSE SNATCHING',
       'THEFT FROM MOTOR VEHICLE - ATTEMPT',
       'DISHONEST EMPLOYEE - PETTY THEFT', 'CHILD PORNOGRAPHY',
       'WEAPONS POSSESSION/BOMBING',
       'DRIVING WITHOUT OWNER CONSENT (DWOC)',
       'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
       'LYNCHING', 'RECKLESS DRIVING', 'SHOPLIFTING - ATTEMPT',
       'COUNTERFEIT',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
       'BATTERY ON A FIREFIGHTER', 'CRUELTY TO ANIMALS', 'BOAT - STOLEN',
       'ILLEGAL DUMPING', 'PROWLER', 'DRUGS, TO A MINOR',
       'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
       'DOCUMENT WORTHLESS ($200 & UNDER)', 'MANSLAUGHTER, NEGLIGENT',
       'PETTY THEFT - AUTO REPAIR', 'THEFT, COIN MACHINE - ATTEMPT',
       'TILL TAP - PETTY ($950 & UNDER)', 'PURSE SNATCHING - ATTEMPT',
       'LYNCHING - ATTEMPTED', 'BIKE - ATTEMPTED STOLEN',
       'GRAND THEFT / AUTO REPAIR', 'CONSPIRACY', 'BRIBERY',
       'GRAND THEFT / INSURANCE FRAUD', 'DRUNK ROLL', 'CHILD ABANDONMENT',
       'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)', 'DISRUPT SCHOOL',
       'PICKPOCKET, ATTEMPT', 'TELEPHONE PROPERTY - DAMAGE',
       'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
       'BIGAMY', 'FAILURE TO DISPERSE',
       'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
       'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
       'BLOCKING DOOR INDUCTION CENTER', 'INCITING A RIOT',
       'DISHONEST EMPLOYEE ATTEMPTED THEFT'], dtype=object)

In [34]:
# Melakukan penegcekan pada kolom DescKej
desc_kejahatan_kosong = data_crime[data_crime['DescKej'].isnull()]

# Menampilkan hasil pengecekan
if desc_kejahatan_kosong.empty:
    print("Tidak ada data kosong pada kolom DescKej")
else:
    print("Data kosong pada kolom DescKej:")
    print(desc_kejahatan_kosong)

Tidak ada data kosong pada kolom DescKej

### UsiaKor

In [104]:
# Menghitung kemunculan data pada kolom UsiaKor
usia_kor_counts = data_crime['UsiaKor'].value_counts(dropna = False)
usia_kor_counts

UsiaKor
 0      221363
 30      20061
 35      19708
 31      19208
 29      19164
         ...
-1          67
 97         65
-2          14
-3           2
 120         1
Name: count, Length: 103, dtype: int64

In [36]:
# Melakukan pengecekan pada kolom UsiaKor apakah ada data kosong
data_usia_null = data_crime[data_crime['UsiaKor'].isnull()]

# Menampilkan hasil
if data_usia_null.empty:
    print("Tidak ada data yang kosong pada kolom UsiaKor")
else:
    print("Data kosong pada kolom UsiaKor:")
    print(data_usia_null)

Tidak ada data yang kosong pada kolom UsiaKor

In [37]:
# Pengecekan kolom UsiaKor
usia_kor_counts = data_crime['UsiaKor'].value_counts()

# Menampilkan jumlah kemunculan angka 0 dan angka negatif
count_zero = usia_kor_counts.get(0, 0)
count_minus = usia_kor_counts.loc[usia_kor_counts.index < 0].sum()

# Menampilkan hasil rule
print("Jumlah Angka 0 pada kolom UsiaKor:", count_zero)
print("Jumlah Angka Negatif pada kolom UsiaKor:", count_minus)

Jumlah Angka 0 pada kolom UsiaKor: 221363
Jumlah Angka Negatif pada kolom UsiaKor: 83

#### Explore Data Usia dengan Nilai = 0

In [38]:
# Menampilkan data UsiaKor dengan value 0
df_data_zero = data_crime.loc[data_crime['UsiaKor'] == 0]
df_data_zero

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
0,190326475,2020-03-01,2020-03-01,7,Wilshire,1,510,VEHICLE - STOLEN,0,M,AA,Adult Arrest,1900 S LONGWOOD AV
14,221008844,2022-05-06,2020-11-01,10,West Valley,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,VALJEAN ST
26,200412582,2020-09-09,2020-09-09,4,Hollenbeck,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,200 E AVENUE 28
29,222106031,2022-02-23,2020-08-14,21,Topanga,2,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0,NaN,IC,Invest Cont,7700 SAUSALITO AV
35,221404806,2022-01-19,2020-01-18,14,Pacific,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,IC,Invest Cont,WASHINGTON PL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883957,230406516,2023-03-19,2023-03-19,4,Hollenbeck,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,3200 GARNET ST
883960,230609209,2023-05-01,2023-04-29,6,Hollywood,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,1800 WINONA BL
883964,231321710,2023-12-07,2023-12-07,13,Newton,1,510,VEHICLE - STOLEN,0,NaN,IC,Invest Cont,1500 MATEO ST
883967,231405429,2023-02-05,2023-02-05,14,Pacific,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0,X,IC,Invest Cont,4300 LINCOLN BL
883978,240904007,2023-12-31,2023-12-31,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,AO,Adult Other,15300 WEDDINGTON ST

In [39]:
# Menghitung jumlah kasus dengan nilai 0 pada kolom UsiaKor 
# untuk setiap nilai unik dalam kolom DescKej
analis_usia_descKej = data_crime[data_crime['UsiaKor'] == 0].groupby('DescKej').size()

# Membuat Data Frame
frame_descKej_zero = pd.DataFrame(analis_usia_descKej)

# Rename Kolom
frame_descKej_zero = frame_descKej_zero.rename_axis('Deskripsi Kejahatan')
frame_descKej_zero = frame_descKej_zero.rename(columns = {0: 'Total Nilai 0'})

# Mengurutkan jumlah data dari terbanyak hingga terkecil
frame_descKej_zero_sort = frame_descKej_zero.sort_values(by='Total Nilai 0', ascending = False)

frame_descKej_zero_sort

                                                    Total Nilai 0
Deskripsi Kejahatan
VEHICLE - STOLEN                                            94635
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)             19314
BURGLARY                                                    16945
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                    14979
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VAN...          13174
...                                                           ...
CONTRIBUTING                                                    1
GRAND THEFT / INSURANCE FRAUD                                   1
RAPE, ATTEMPTED                                                 1
DISHONEST EMPLOYEE ATTEMPTED THEFT                              1
TELEPHONE PROPERTY - DAMAGE                                     1

[134 rows x 1 columns]

In [40]:
# Menyimpan DataFrame dalam bentuk Excel
# frame_descKej_zero_sort.to_excel('Hasil Sorted Analisa Usia Zero.xlsx') # DONE

#### Explore Data Usia dengan Nilai = MINUS (-)

In [41]:
# Mengambil hanya baris-baris dimana nilai kolom UsiaKor adalah Negatif
df_data_minus = data_crime.loc[data_crime['UsiaKor'] < 0]
df_data_minus

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
49,230610629,2023-06-02,2020-05-31,6,Hollywood,1,310,BURGLARY,-2,X,IC,Invest Cont,1700 ORCHID AV
149,231806653,2022-06-12,2020-03-04,18,Southeast,2,946,OTHER MISCELLANEOUS CRIME,-2,X,IC,Invest Cont,100 W 108TH ST
383,231412171,2023-06-09,2020-06-01,14,Pacific,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,-2,M,IC,Invest Cont,3500 GRAND VIEW BL
583,222106102,2022-02-25,2020-12-13,21,Topanga,2,354,THEFT OF IDENTITY,-1,M,IC,Invest Cont,6600 TOPANGA CANYON BL
597,221404829,2022-01-18,2020-07-16,14,Pacific,1,310,BURGLARY,-1,X,IC,Invest Cont,8600 S SEPULVEDA BL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
548667,231706461,2023-02-21,2022-01-01,17,Devonshire,2,354,THEFT OF IDENTITY,-1,X,IC,Invest Cont,18600 PARTHENIA ST
559386,241404607,2024-01-16,2022-01-16,14,Pacific,2,946,OTHER MISCELLANEOUS CRIME,-1,X,IC,Invest Cont,5600 W MANCHESTER AV
561026,230606247,2023-02-23,2022-02-22,6,Hollywood,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,-1,X,AA,Adult Arrest,1700 ORCHID AV
590800,231107124,2023-03-24,2022-01-01,11,Northeast,2,354,THEFT OF IDENTITY,-1,X,IC,Invest Cont,4200 VERDANT ST
635163,230617256,2023-10-31,2022-02-01,6,Hollywood,2,662,"BUNCO, GRAND THEFT",-1,F,IC,Invest Cont,7200 FRANKLIN AV

In [42]:
# # Menyimpan DataFrame dalam bentuk Excel
# view_data_minus.to_excel('test_data_minus.xlsx') # DONE

In [43]:
# Menghitung jumlah kasus dengan Negatif pada kolom UsiaKor 
# untuk setiap nilai unik dalam kolom DescKej
analis_usia_descKej_minus = data_crime[data_crime['UsiaKor'] < 0].groupby('DescKej').size()

# Membuat Data Frame
frame_usia_descKej_minus = pd.DataFrame(analis_usia_descKej_minus)

# Rename Kolom
frame_usia_descKej_minus = frame_usia_descKej_minus.rename_axis('Deskripsi Kejahatan')
frame_usia_descKej_minus = frame_usia_descKej_minus.rename(columns = {0: 'Total Nilai Minus'})

# Mengurutkan jumlah data dari terbanyak hingga terkecil
frame_usia_descKej_minus_sort = frame_usia_descKej_minus.sort_values(by='Total Nilai Minus', ascending = False)

frame_usia_descKej_minus_sort

                                                    Total Nilai Minus
Deskripsi Kejahatan
SEX OFFENDER REGISTRANT OUT OF COMPLIANCE                          14
THEFT OF IDENTITY                                                  11
EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)                         10
BURGLARY                                                            6
THEFT PLAIN - PETTY ($950 & UNDER)                                  6
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VAN...                  5
BUNCO, GRAND THEFT                                                  5
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                            5
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIV...                  5
DOCUMENT FORGERY / STOLEN FELONY                                    3
OTHER MISCELLANEOUS CRIME                                           2
THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND O...                  2
BRANDISH WEAPON                                                     1
TRESPASSING                                                         1
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                            1
UNAUTHORIZED COMPUTER ACCESS                                        1
SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/...                  1
EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)                            1
CRUELTY TO ANIMALS                                                  1
CRIMINAL THREATS - NO WEAPON DISPLAYED                              1
VEHICLE - STOLEN                                                    1

In [44]:
# Mengetahui isi data dari jumlah angka minus diatas

# Mengelompokkan data berdasarkan 'DescKej'
grouped_data = data_crime[data_crime['UsiaKor'] < 0].groupby('DescKej')

# Membuat list kosong untuk menyimpan hasil
rows = []

# Mengisi list dengan umur yang memiliki nilai negatif
for descKej, group in grouped_data:
    umur_negatif = group[group['UsiaKor'] < 0]['UsiaKor'].unique()
    rows.append({'Deskripsi Kejahatan': descKej, 'Umur Negatif': umur_negatif})

# Membuat DataFrame dari list hasil
umur_minus_descKej = pd.DataFrame(rows)

# Menghilangkan indeks saat menampilkan DataFrame
print(umur_minus_descKej.to_string(index=False))

                                     Deskripsi Kejahatan Umur Negatif
                                         BRANDISH WEAPON         [-1]
                                      BUNCO, GRAND THEFT         [-1]
                                                BURGLARY     [-2, -1]
                  CRIMINAL THREATS - NO WEAPON DISPLAYED         [-2]
                                      CRUELTY TO ANIMALS         [-1]
                        DOCUMENT FORGERY / STOLEN FELONY         [-1]
              EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)     [-1, -2]
                EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)         [-3]
                               OTHER MISCELLANEOUS CRIME     [-2, -1]
               SEX OFFENDER REGISTRANT OUT OF COMPLIANCE     [-1, -2]
SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ         [-2]
                SHOPLIFTING - PETTY THEFT ($950 & UNDER) [-1, -2, -3]
     THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)         [-1]
                                       THEFT OF IDENTITY     [-1, -2]
                      THEFT PLAIN - PETTY ($950 & UNDER)         [-1]
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD     [-2, -1]
                                             TRESPASSING         [-1]
                            UNAUTHORIZED COMPUTER ACCESS         [-1]
 VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)         [-1]
                VANDALISM - MISDEAMEANOR ($399 OR UNDER)         [-1]
                                        VEHICLE - STOLEN         [-2]

In [45]:
# Menyimpan DataFrame dalam bentuk Excel
# frame_usia_descKej_minus_sort.to_excel('Hasil Sorted Analisa Kasus Usia Minus.xlsx') # DONE

#### Melakukan filter pada data Usia = Zero (0) & Minus

In [46]:
# Pada perintah dibawah ini akan melakukan filter data
# dimana yang akan ditampilkan hanyalah data yang memiliki
# nilai POSITIF dan tidak ada nilai 0 pada kolom UsiaKor
df_usia_positif = data_crime.loc[(data_crime['UsiaKor'] != 0) & (data_crime['UsiaKor'] > 0)]
df_usia_positif

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
1,200106753,2020-02-09,2020-02-08,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
2,200320258,2020-11-11,2020-11-04,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
3,200907217,2023-05-10,2020-03-10,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,2020-08-17,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
5,231808869,2023-04-04,2020-12-01,18,Southeast,2,354,THEFT OF IDENTITY,41,M,IC,Invest Cont,9900 COMPTON AV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,2023-04-12,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,2023-12-01,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,2023-07-01,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,2023-03-05,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,2023-11-09,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

### JenisKelKor

In [47]:
# Menampilkan jumlah nilai Unik pada kolom JenisKelKor
jumlah_jenis_kelKor = df_usia_positif['JenisKelKor'].nunique()

# Tampilkan hasil
print("Jumlah Nilai Unik pada kolom JenisKelKor:", jumlah_jenis_kelKor)

Jumlah Nilai Unik pada kolom JenisKelKor: 4

In [48]:
# Mengambil Nilai Unik pada kolom JenisKelKor
daftar_unik_kelKor = df_usia_positif['JenisKelKor'].unique()

# Tampilkan hasil dalam bentuk array
daftar_unik_kelKor

array(['M', 'X', 'F', 'H', nan], dtype=object)

In [66]:
# Melakukan pengecekan pada kolom UsiaKor apakah ada data kosong
data_kosong_jenisKelkor = df_usia_positif[df_usia_positif['JenisKelKor'].isnull()]

# Menampilkan hasil
if data_kosong_jenisKelkor.empty:
    print("Tidak ada data yang kosong pada kolom UsiaKor")
else:
    print("Data kosong pada kolom UsiaKor:")
    print(data_kosong_jenisKelkor)

Data kosong pada kolom UsiaKor:
            LprNo      TglLpr      TglOcc  KdArea       NmArea  JenisLpr  \
17862   201319475  2020-11-04  2020-10-30      13       Newton         1
23390   200105216  2020-01-17  2020-01-17       1      Central         2
71186   200915662  2020-10-08  2020-10-07       9     Van Nuys         1
95080   200319525  2020-10-28  2020-10-28       3    Southwest         1
104008  200100874  2020-07-04  2020-07-04       1      Central         1
158092  200315075  2020-08-01  2020-08-01       3    Southwest         2
173122  200218847  2020-12-19  2020-12-19       2      Rampart         2
193853  201419530  2020-10-31  2020-10-30      14      Pacific         1
196956  200808494  2020-04-19  2020-04-19       8      West LA         1
218140  211108139  2021-05-01  2021-04-30      11    Northeast         2
224666  211113425  2021-09-26  2021-09-26      11    Northeast         1
226645  211513810  2021-08-28  2021-08-21      15  N Hollywood         1
329970  211414634  2021-07-08  2021-07-08      14      Pacific         1
403329  211215893  2021-07-16  2021-07-15      12  77th Street         2
412592  221615369  2022-12-21  2022-12-19      16     Foothill         1
438169  220314540  2022-08-01  2022-07-30       3    Southwest         1
476871  221813489  2022-06-29  2022-06-29      18    Southeast         2
491367  221615373  2022-12-21  2022-12-20      16     Foothill         1
491837  220218443  2022-10-12  2022-10-12       2      Rampart         2
511153  221706899  2022-02-09  2022-02-01      17   Devonshire         1
514265  220211337  2022-06-04  2022-06-04       2      Rampart         2
551949  221517206  2022-11-09  2022-11-08      15  N Hollywood         1
558608  220308437  2022-04-01  2022-04-01       3    Southwest         2
590731  220310277  2022-05-06  2022-05-04       3    Southwest         1
612558  220219989  2022-11-09  2022-11-09       2      Rampart         2
625465  220706954  2022-03-20  2022-03-19       7     Wilshire         1
650524  240104558  2024-01-09  2024-01-09       1      Central         1
664414  230111779  2023-05-03  2023-05-02       1      Central         1
690952  230114251  2023-06-14  2023-06-14       1      Central         1
758286  230118549  2023-08-25  2023-08-25       1      Central         1
772866  230304747  2023-01-16  2023-01-16       3    Southwest         1
812555  230318007  2023-09-18  2023-09-18       3    Southwest         1

        KdKej                                            DescKej  UsiaKor  \
17862     510                                   VEHICLE - STOLEN       51
23390     740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...       19
71186     510                                   VEHICLE - STOLEN       36
95080     440                 THEFT PLAIN - PETTY ($950 & UNDER)       19
104008    230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT       48
158092    623                            BATTERY POLICE (SIMPLE)       19
173122    745           VANDALISM - MISDEAMEANOR ($399 OR UNDER)       20
193853    510                                   VEHICLE - STOLEN       38
196956    230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT      120
218140    740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...       31
224666    230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT       26
226645    310                                           BURGLARY       61
329970    310                                           BURGLARY       20
403329    745           VANDALISM - MISDEAMEANOR ($399 OR UNDER)       20
412592    341  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...       21
438169    440                 THEFT PLAIN - PETTY ($950 & UNDER)       21
476871    753                     DISCHARGE FIREARMS/SHOTS FIRED       22
491367    331  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...       21
491837    740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...       21
511153    331  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...       39
514265    740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...       21
551949    310                                           BURGLARY       83
558608    740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...       32
590731    331  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...       21
612558    745           VANDALISM - MISDEAMEANOR ($399 OR UNDER)       21
625465    440                 THEFT PLAIN - PETTY ($950 & UNDER)       21
650524    230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT       40
664414    330                              BURGLARY FROM VEHICLE       36
690952    310                                           BURGLARY       40
758286    220                                  ATTEMPTED ROBBERY       32
772866    230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT       22
812555    331  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...       22

       JenisKelKor StatLpr   DescStatLpr  \
17862          NaN      IC   Invest Cont
23390          NaN      IC   Invest Cont
71186          NaN      IC   Invest Cont
95080          NaN      IC   Invest Cont
104008         NaN      AA  Adult Arrest
158092         NaN      AO   Adult Other
173122         NaN      AO   Adult Other
193853         NaN      IC   Invest Cont
196956         NaN      IC   Invest Cont
218140         NaN      AO   Adult Other
224666         NaN      IC   Invest Cont
226645         NaN      IC   Invest Cont
329970         NaN      IC   Invest Cont
403329         NaN      AO   Adult Other
412592         NaN      IC   Invest Cont
438169         NaN      IC   Invest Cont
476871         NaN      AA  Adult Arrest
491367         NaN      IC   Invest Cont
491837         NaN      IC   Invest Cont
511153         NaN      IC   Invest Cont
514265         NaN      IC   Invest Cont
551949         NaN      IC   Invest Cont
558608         NaN      IC   Invest Cont
590731         NaN      IC   Invest Cont
612558         NaN      IC   Invest Cont
625465         NaN      IC   Invest Cont
650524         NaN      IC   Invest Cont
664414         NaN      IC   Invest Cont
690952         NaN      IC   Invest Cont
758286         NaN      AO   Adult Other
772866         NaN      AA  Adult Arrest
812555         NaN      IC   Invest Cont

                                          LokKej
17862     700 S  CENTRAL                      AV
23390     800 N  VIGNES                       ST
71186   14500    SHERMAN                      CR
95080    2400 S  CONGRESS                     AV
104008                                       5TH
158092           38TH                         ST
173122    400 S  OCCIDENTAL                   BL
193853   3000    GREENFIELD                   AV
196956   2000 S  BEDFORD                      ST
218140           GLENDALE                     BL
224666   3400    DREW                         ST
226645  10700    VALLEY SPRING                LN
329970   1300    ABBOT KINNEY                 BL
403329   1700 W  56TH                         ST
412592  11000    ARMINTA                      ST
438169   2400 S  WESTERN                      AV
476871    600 W  119TH                        ST
491367   8500    TERHUNE                      AV
491837   4100    ROSEWOOD                     AV
511153           PETIT                        AV
514265   1400 W  12TH                         PL
551949  13000    VICTORY                      BL
558608    600 W  40TH                         PL
590731   3900 S  FIGUEROA                     ST
612558    400    WITMER                       ST
625465    100    THE GROVE                    DR
650524                                  ALHAMBRA
664414   1800 S  MAIN                         ST
690952   1000 S  HOPE                         ST
758286    800 W  7TH                          ST
772866   2400 S  VERMONT                      AV
812555   1100 W  39TH                         ST

In [50]:
# Menghitung banyak kemunculan data berdasarkan JenisKelKor
hitung_jenisKelkor = df_usia_positif['JenisKelKor'].value_counts(dropna = False)
hitung_jenisKelkor

JenisKelKor
M      333887
F      320277
X        8252
H          93
NaN        32
Name: count, dtype: int64

#### Mengambil Value Jenis Kelamin [M & F] (STEP CLEAN)

In [51]:
# Mengambil data jenis kelamin hanya pada baris dengan value
# 'M' dan 'F' pada kolom JenisKelKor
jeniskel_mf = df_usia_positif.loc[df_usia_positif['JenisKelKor'].isin(['M', 'F'])]

# Tampilkan DataFrame
data_clean = jeniskel_mf
data_clean

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
1,200106753,2020-02-09,2020-02-08,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
3,200907217,2023-05-10,2020-03-10,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,2020-08-17,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
5,231808869,2023-04-04,2020-12-01,18,Southeast,2,354,THEFT OF IDENTITY,41,M,IC,Invest Cont,9900 COMPTON AV
6,230110144,2023-04-04,2020-07-03,1,Central,2,354,THEFT OF IDENTITY,25,M,IC,Invest Cont,1100 S GRAND AV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,2023-04-12,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,2023-12-01,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,2023-07-01,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,2023-03-05,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,2023-11-09,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

#### Mengambil Value Jenis Kelamin [X]

In [52]:
# Mengambil data dengan value 'X' pada kolom JenisKelKor
jeniskel_x = df_usia_positif.loc[df_usia_positif['JenisKelKor'] == 'X']

# Menampilkan data frame
jeniskel_x

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
2,200320258,2020-11-11,2020-11-04,3,Southwest,1,480,BIKE - STOLEN,19,X,IC,Invest Cont,1400 W 37TH ST
178,220311221,2022-05-23,2020-04-29,3,Southwest,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,19,X,IC,Invest Cont,1500 W MARTIN LUTHER KING JR BL
214,231305562,2023-02-01,2020-04-01,13,Newton,1,210,ROBBERY,50,X,IC,Invest Cont,12TH ST
473,220710510,2022-06-16,2020-07-01,7,Wilshire,2,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",19,X,IC,Invest Cont,6100 WILSHIRE BL
1003,220214155,2022-07-09,2020-09-01,2,Rampart,2,354,THEFT OF IDENTITY,57,X,IC,Invest Cont,700 WITMER ST
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883815,230320429,2023-11-28,2023-11-28,3,Southwest,1,310,BURGLARY,22,X,IC,Invest Cont,3700 S FIGUEROA ST
883878,230707954,2023-04-02,2023-04-02,7,Wilshire,2,439,FALSE POLICE REPORT,22,X,IC,Invest Cont,1800 S HIGHLAND AV
883884,230310057,2023-04-28,2023-04-26,3,Southwest,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),22,X,IC,Invest Cont,LA CIENEGA BL
883907,231113957,2023-09-28,2023-09-28,11,Northeast,1,648,ARSON,22,X,IC,Invest Cont,3500 MARMION WY
883911,231217487,2023-08-11,2023-08-11,12,77th Street,2,890,FAILURE TO YIELD,22,X,AA,Adult Arrest,VERMONT AV

#### Mengambil Value Jenis Kelamin [H]

In [53]:
# Mengambil data dengan value 'H' pada kolom JenisKelKor
jeniskel_h = df_usia_positif.loc[df_usia_positif['JenisKelKor'] == 'H']

# Menampilkan DataFrame
jeniskel_h

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
17554,200714556,2020-10-05,2020-10-05,7,Wilshire,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",35,H,IC,Invest Cont,15TH ST
21668,200708374,2020-04-14,2020-04-14,7,Wilshire,1,330,BURGLARY FROM VEHICLE,33,H,IC,Invest Cont,8500 COLGATE AV
30429,202017825,2020-11-29,2020-11-29,20,Olympic,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,25,H,AO,Adult Other,1600 ARAPAHOE ST
37954,200204197,2020-01-03,2020-01-03,2,Rampart,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",25,H,IC,Invest Cont,1600 W 2ND ST
57025,201310830,2020-05-13,2020-05-09,13,Newton,1,440,THEFT PLAIN - PETTY ($950 & UNDER),49,H,IC,Invest Cont,2300 WALL ST
...,...,...,...,...,...,...,...,...,...,...,...,...,...
830338,230908111,2023-04-13,2023-04-12,9,Van Nuys,1,330,BURGLARY FROM VEHICLE,27,H,IC,Invest Cont,VANOWEN
830639,240105228,2024-01-18,2023-12-28,1,Central,1,440,THEFT PLAIN - PETTY ($950 & UNDER),30,H,IC,Invest Cont,900 S BROADWAY
832229,232012744,2023-07-12,2023-07-11,20,Olympic,1,440,THEFT PLAIN - PETTY ($950 & UNDER),44,H,IC,Invest Cont,1100 ARAPAHOE ST
866346,231612840,2023-10-08,2023-10-08,16,Foothill,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",77,H,IC,Invest Cont,10600 LAUREL CANYON BL
879319,230404193,2023-01-05,2023-01-01,4,Hollenbeck,2,354,THEFT OF IDENTITY,25,H,IC,Invest Cont,400 N ST LOUIS ST

#### Mengambil Value Jenis Kelamin [NaN]

In [54]:
# Mengambil data dengan value NaN pada kolom JenisKelKor
jeniskel_nan = df_usia_positif.loc[df_usia_positif['JenisKelKor'].isnull()]

# Menampilkan DataFrame
jeniskel_nan

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
17862,201319475,2020-11-04,2020-10-30,13,Newton,1,510,VEHICLE - STOLEN,51,NaN,IC,Invest Cont,700 S CENTRAL AV
23390,200105216,2020-01-17,2020-01-17,1,Central,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",19,NaN,IC,Invest Cont,800 N VIGNES ST
71186,200915662,2020-10-08,2020-10-07,9,Van Nuys,1,510,VEHICLE - STOLEN,36,NaN,IC,Invest Cont,14500 SHERMAN CR
95080,200319525,2020-10-28,2020-10-28,3,Southwest,1,440,THEFT PLAIN - PETTY ($950 & UNDER),19,NaN,IC,Invest Cont,2400 S CONGRESS AV
104008,200100874,2020-07-04,2020-07-04,1,Central,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",48,NaN,AA,Adult Arrest,5TH
158092,200315075,2020-08-01,2020-08-01,3,Southwest,2,623,BATTERY POLICE (SIMPLE),19,NaN,AO,Adult Other,38TH ST
173122,200218847,2020-12-19,2020-12-19,2,Rampart,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),20,NaN,AO,Adult Other,400 S OCCIDENTAL BL
193853,201419530,2020-10-31,2020-10-30,14,Pacific,1,510,VEHICLE - STOLEN,38,NaN,IC,Invest Cont,3000 GREENFIELD AV
196956,200808494,2020-04-19,2020-04-19,8,West LA,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",120,NaN,IC,Invest Cont,2000 S BEDFORD ST
218140,211108139,2021-05-01,2021-04-30,11,Northeast,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,NaN,AO,Adult Other,GLENDALE BL
224666,211113425,2021-09-26,2021-09-26,11,Northeast,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",26,NaN,IC,Invest Cont,3400 DREW ST
226645,211513810,2021-08-28,2021-08-21,15,N Hollywood,1,310,BURGLARY,61,NaN,IC,Invest Cont,10700 VALLEY SPRING LN
329970,211414634,2021-07-08,2021-07-08,14,Pacific,1,310,BURGLARY,20,NaN,IC,Invest Cont,1300 ABBOT KINNEY BL
403329,211215893,2021-07-16,2021-07-15,12,77th Street,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),20,NaN,AO,Adult Other,1700 W 56TH ST
412592,221615369,2022-12-21,2022-12-19,16,Foothill,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",21,NaN,IC,Invest Cont,11000 ARMINTA ST
438169,220314540,2022-08-01,2022-07-30,3,Southwest,1,440,THEFT PLAIN - PETTY ($950 & UNDER),21,NaN,IC,Invest Cont,2400 S WESTERN AV
476871,221813489,2022-06-29,2022-06-29,18,Southeast,2,753,DISCHARGE FIREARMS/SHOTS FIRED,22,NaN,AA,Adult Arrest,600 W 119TH ST
491367,221615373,2022-12-21,2022-12-20,16,Foothill,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,21,NaN,IC,Invest Cont,8500 TERHUNE AV
491837,220218443,2022-10-12,2022-10-12,2,Rampart,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",21,NaN,IC,Invest Cont,4100 ROSEWOOD AV
511153,221706899,2022-02-09,2022-02-01,17,Devonshire,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,39,NaN,IC,Invest Cont,PETIT AV
514265,220211337,2022-06-04,2022-06-04,2,Rampart,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",21,NaN,IC,Invest Cont,1400 W 12TH PL
551949,221517206,2022-11-09,2022-11-08,15,N Hollywood,1,310,BURGLARY,83,NaN,IC,Invest Cont,13000 VICTORY BL
558608,220308437,2022-04-01,2022-04-01,3,Southwest,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",32,NaN,IC,Invest Cont,600 W 40TH PL
590731,220310277,2022-05-06,2022-05-04,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,21,NaN,IC,Invest Cont,3900 S FIGUEROA ST
612558,220219989,2022-11-09,2022-11-09,2,Rampart,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),21,NaN,IC,Invest Cont,400 WITMER ST
625465,220706954,2022-03-20,2022-03-19,7,Wilshire,1,440,THEFT PLAIN - PETTY ($950 & UNDER),21,NaN,IC,Invest Cont,100 THE GROVE DR
650524,240104558,2024-01-09,2024-01-09,1,Central,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",40,NaN,IC,Invest Cont,ALHAMBRA
664414,230111779,2023-05-03,2023-05-02,1,Central,1,330,BURGLARY FROM VEHICLE,36,NaN,IC,Invest Cont,1800 S MAIN ST
690952,230114251,2023-06-14,2023-06-14,1,Central,1,310,BURGLARY,40,NaN,IC,Invest Cont,1000 S HOPE ST
758286,230118549,2023-08-25,2023-08-25,1,Central,1,220,ATTEMPTED ROBBERY,32,NaN,AO,Adult Other,800 W 7TH ST
772866,230304747,2023-01-16,2023-01-16,3,Southwest,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",22,NaN,AA,Adult Arrest,2400 S VERMONT AV
812555,230318007,2023-09-18,2023-09-18,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,22,NaN,IC,Invest Cont,1100 W 39TH ST

### StatLpr

In [55]:
# Melakukan pengecekan menggunakan data yang sudah dibersihkan / dipisahkan
data_clean

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
1,200106753,2020-02-09,2020-02-08,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
3,200907217,2023-05-10,2020-03-10,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,2020-08-17,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
5,231808869,2023-04-04,2020-12-01,18,Southeast,2,354,THEFT OF IDENTITY,41,M,IC,Invest Cont,9900 COMPTON AV
6,230110144,2023-04-04,2020-07-03,1,Central,2,354,THEFT OF IDENTITY,25,M,IC,Invest Cont,1100 S GRAND AV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,2023-04-12,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,2023-12-01,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,2023-07-01,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,2023-03-05,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,2023-11-09,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

In [58]:
# Hitung jumlah total variable unik kolom StatLpr
jumlah_total_unik = data_clean['StatLpr'].nunique()

# Tampilkan hasil total unik kolom StatLpr
print("Jumlah total variable unik pada kolom StatLpr:", jumlah_total_unik)

Jumlah total variable unik pada kolom StatLpr: 6

In [59]:
# Ambil value unik kolom StatLpr
data_unik_statlpr = data_clean['StatLpr'].unique()

# View DataFrame kolom StatLpr
data_unik_statlpr

array(['IC', 'JA', 'AA', 'AO', 'JO', 'CC'], dtype=object)

In [61]:
# Menghitung banyak kemunculan data berdasarkan StatLpr
hitung_statlpr = data_clean['StatLpr'].value_counts(dropna = False)
hitung_statlpr

StatLpr
IC    505051
AO     86881
AA     58767
JA      2160
JO      1301
CC         4
Name: count, dtype: int64

In [68]:
# Melakukan pengecekan pada kolom StatLpr apakah terdapat value kosong
check_column_statlpr = data_clean[data_clean['StatLpr'].isnull()]

# Tampilkan hasil pengecekan
if check_column_statlpr.empty:
    print("Tidak ada data kosong pada kolom StatLpr")
else:
    print("Terdapat data kosong pada kolom StatLpr:")
    print(check_column_statlpr)

Tidak ada data kosong pada kolom StatLpr

### DescStatLpr

In [69]:
# DataFrame Clean
data_clean

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
1,200106753,2020-02-09,2020-02-08,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
3,200907217,2023-05-10,2020-03-10,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,2020-08-17,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
5,231808869,2023-04-04,2020-12-01,18,Southeast,2,354,THEFT OF IDENTITY,41,M,IC,Invest Cont,9900 COMPTON AV
6,230110144,2023-04-04,2020-07-03,1,Central,2,354,THEFT OF IDENTITY,25,M,IC,Invest Cont,1100 S GRAND AV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,2023-04-12,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,2023-12-01,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,2023-07-01,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,2023-03-05,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,2023-11-09,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

In [70]:
# Check Jumlah Data Unik kolom DescStatLpr
jumlah_descstatlpr_unik = data_clean['DescStatLpr'].nunique()

# Tampilkan jumlah data
print("Jumlah Value Unik Kolom DescStatLpr:", jumlah_descstatlpr_unik)

Jumlah Value Unik Kolom DescStatLpr: 6

In [71]:
# Tampilkan Seluruh Data Unik Kolom DescStatLpr
data_unik_descstatlpr = data_clean['DescStatLpr'].unique()

# Tampilkan dalam bentuk array
data_unik_descstatlpr

array(['Invest Cont', 'Juv Arrest', 'Adult Arrest', 'Adult Other',
       'Juv Other', 'UNK'], dtype=object)

In [72]:
# Hitung jumlah data kemunculan masing-masing Unik
hitung_descstatlpr = data_clean['DescStatLpr'].value_counts(dropna = False)

# Tampilkan jumlah
hitung_descstatlpr

DescStatLpr
Invest Cont     505051
Adult Other      86881
Adult Arrest     58767
Juv Arrest        2160
Juv Other         1301
UNK                  4
Name: count, dtype: int64

In [74]:
# Check data pada kolom DescStatLpr, apakah ada yang kosong
check_data_descstatlpr = data_clean[data_clean['DescStatLpr'].isnull()]

# Tampilkan hasil
if check_data_descstatlpr.empty:
    print("Tidak ada data kosong pada kolom DescStatLpr")
else:
    print("Terdapat data kosong pada kolom DescStatLpr:")
    print(check_data_descstatlpr)

Tidak ada data kosong pada kolom DescStatLpr

### LokKej

In [75]:
# Menggunakan DataFrame
data_clean

,LprNo,TglLpr,TglOcc,KdArea,NmArea,JenisLpr,KdKej,DescKej,UsiaKor,JenisKelKor,StatLpr,DescStatLpr,LokKej
1,200106753,2020-02-09,2020-02-08,1,Central,1,330,BURGLARY FROM VEHICLE,47,M,IC,Invest Cont,1000 S FLOWER ST
3,200907217,2023-05-10,2020-03-10,9,Van Nuys,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,IC,Invest Cont,14000 RIVERSIDE DR
4,220614831,2022-08-18,2020-08-17,6,Hollywood,2,354,THEFT OF IDENTITY,28,M,IC,Invest Cont,1900 TRANSIENT
5,231808869,2023-04-04,2020-12-01,18,Southeast,2,354,THEFT OF IDENTITY,41,M,IC,Invest Cont,9900 COMPTON AV
6,230110144,2023-04-04,2020-07-03,1,Central,2,354,THEFT OF IDENTITY,25,M,IC,Invest Cont,1100 S GRAND AV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883982,231210064,2023-04-12,2023-04-12,12,77th Street,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,IC,Invest Cont,6100 S VERMONT AV
883983,230618716,2023-12-07,2023-12-01,6,Hollywood,2,901,VIOLATION OF RESTRAINING ORDER,30,F,IC,Invest Cont,1500 N BRONSON AV
883984,230115220,2023-07-02,2023-07-01,1,Central,1,352,PICKPOCKET,24,F,IC,Invest Cont,500 S MAIN ST
883985,230906458,2023-03-05,2023-03-05,9,Van Nuys,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,IC,Invest Cont,14500 HARTLAND ST
883986,230319786,2023-11-10,2023-11-09,3,Southwest,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,IC,Invest Cont,4100 S HOBART BL

In [76]:
# Cek value unik dari kolom LokKej
jumlah_unik_lokkej = data_clean['LokKej'].nunique()

# Tampilkan hasil
print("Jumlah value unik pada kolom LokKej:", jumlah_unik_lokkej)

Jumlah value unik pada kolom LokKej: 60433

In [86]:
# Check data unik
data_unik_lokkej = data_clean['LokKej'].unique()

# Tampilkan array data
view_data_frame = pd.DataFrame(data_unik_lokkej)
view_data_frame.rename(columns = {0: 'Lokasi Kejadian Kejahatan'})

                      Lokasi Kejadian Kejahatan
0       1000 S  FLOWER                       ST
1      14000    RIVERSIDE                    DR
2                             1900    TRANSIENT
3       9900    COMPTON                      AV
4       1100 S  GRAND                        AV
...                                         ...
60428  11100    DULCET                       AV
60429   4900    CROMWELL                     AV
60430                      12100    TERRA BELLA
60431  12500    LANDALE                      ST
60432   3600    COLISEUM                     ST

[60433 rows x 1 columns]

In [103]:
# Menampilkan hasil banyak data tampil pada setiap lokasi
hitung_lokkej = data_clean['LokKej'].value_counts(dropna = False)

# Rename kolom dan index data
data_hitung = hitung_lokkej.rename_axis('List Data Kejahatan').reset_index(name = 'Jumlah Data')

# Mengurutkan jumlah data dari yang terbanyak hingga terkecil
data_hitung = data_hitung.sort_values(by='Jumlah Data', ascending = False)
data_hitung = pd.DataFrame(data_hitung)

data_hitung

                           List Data Kejahatan  Jumlah Data
0       800 N  ALAMEDA                      ST         1214
1                                          7TH         1203
2              6TH                          ST         1165
3                                          6TH         1163
4              7TH                          ST         1103
...                                        ...          ...
51228   200    PATTON                       ST            1
51229  1400 W  SEPULVEDA                    BL            1
51230  8000    WOODLAKE                     AV            1
51231   200    LAGOON                       AV            1
60432  3600    COLISEUM                     ST            1

[60433 rows x 2 columns]

In [106]:
# Melakukan pengecekan pada kolom LokKej apakah ada data kosong atau tidak
check_data_lokkej = data_clean[data_clean['LokKej'].isnull()]

# Menampilkan data
if check_data_lokkej.empty:
    print("Tidak ada data kolong pada kolom LokKej")
else:
    print("Terdapat data kosong pada kolom LokKej:")
    print(check_data_lokkej)

Tidak ada data kolong pada kolom LokKej

# EDA (Exploratory Data Analysis)

In [ ]:
# START TO EDA (Exploratory Data Analysis)

## Kolom [DescKej] & [UsiaKor]

In [56]:
# Mengetahui Deskripsi Kejahatan dan banyaknya korban berdasarkan umur
analis_usia_descKej = data_crime.groupby('DescKej')['UsiaKor'].count()

# Membuat Data Frame
frame_descKej = pd.DataFrame(analis_usia_descKej)

# Rename nama pada index kolom
frame_descKej = frame_descKej.rename_axis('Deskripsi Kejahatan')

# Rename Nama Kolom UsiaKor
frame_descKej = frame_descKej.rename(columns = {'UsiaKor': 'Jumlah Korban'})

frame_descKej

                                                    Jumlah Korban
Deskripsi Kejahatan
ARSON                                                        2412
ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER                 1029
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT              50464
ATTEMPTED ROBBERY                                            4561
BATTERY - SIMPLE ASSAULT                                    70311
...                                                           ...
VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BI...           1919
VIOLATION OF COURT ORDER                                     6019
VIOLATION OF RESTRAINING ORDER                              11127
VIOLATION OF TEMPORARY RESTRAINING ORDER                      884
WEAPONS POSSESSION/BOMBING                                     39

[138 rows x 1 columns]

In [57]:
# Mengelompokkan data berdasarkan kolom 
# "DescKej" dan menghitung jumlah umur untuk setiap kategori kejahatan
usia_kejahatan_mean = data_crime.groupby('DescKej')['UsiaKor'].mean()

# Membuat Data Frame
view_dataFrame = pd.DataFrame(usia_kejahatan_mean)

# Rename nama pada index kolom
view_dataFrame = view_dataFrame.rename_axis('Deskripsi Kejahatan')

# Rename Nama Kolom UsiaKor
view_dataFrame = view_dataFrame.rename(columns = {'UsiaKor': 'Usia Korban'})

view_dataFrame

                                                    Usia Korban
Deskripsi Kejahatan
ARSON                                                 25.838308
ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER           7.590865
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        36.661858
ATTEMPTED ROBBERY                                     34.085727
BATTERY - SIMPLE ASSAULT                              40.042810
...                                                         ...
VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BI...    13.178739
VIOLATION OF COURT ORDER                              41.563549
VIOLATION OF RESTRAINING ORDER                        42.184596
VIOLATION OF TEMPORARY RESTRAINING ORDER              41.960407
WEAPONS POSSESSION/BOMBING                            13.179487

[138 rows x 1 columns]